<div id="container" class="container flex-column">
    <% if (productList.length) { %>
        <div id="product-container" class="product-container flex">
            <% for( let index = 0; index < productList.length; index++ ) { %>
                <div class="product-item flex-column" key="<%= productList[index]._id %>">
                    <img src="<%= productList[index].productImg %>" class="product-image">
                    <div class="product-name"> <%= productList[index].productName %> </div>
                    <div class="product-price"> <span class="description-span"> Rs </span> <span> <%= productList[index].productPrice %> </span> </div>
                    <div class="product-quantity hide">
                        <span class="description-span"> Quantity:  </span> <span> <%= productList[index].productQuantity %>
                    </div>
                    <div class="product-description hide"> <span class="description-span"> Desc:  </span> <span> <%= productList[index].productDescription %> </span> </div>
                    <div class="cart-detail-container flex">
                        <button class="add-to-cart product-function-holder">Add To Cart</button>
                        <button id="product-details" class="product-details product-function-holder btn"> Show Details </button>
                    </div>
                </div>
            <% } %> 
        </div>
        <% if (loadMore) { %>
            <button id="loadMore-btn" class="loadMore-btn btn"> Load More </button>
        <% } %>
    <% } else { %>
        <h2 style="color: #ff0000;">No Products Available</h2>
    <% } %>
</div>
<script src="scripts/products.js"></script>
